<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.accessibility.merchant-api-control</key>
	<true/>
	<key>com.apple.developer.app-compute-category</key>
	<string>high</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:*</string>
		<string>webcredentials:*</string>
	</array>
	<key>com.apple.developer.associated-domains.applinks.read-write</key>
	<true/>
	<key>com.apple.developer.automated-device-enrollment.add-devices</key>
	<true/>
	<key>com.apple.developer.browser.app-installation</key>
	<true/>
	<key>com.apple.developer.calling-app</key>
	<true/>
	<key>com.apple.developer.carrier-messaging-app</key>
	<true/>
	<key>com.apple.developer.contacts.notes</key>
	<true/>
	<key>com.apple.developer.coreml.neural-engine-access</key>
	<true/>
	<key>com.apple.developer.declared-age-range</key>
	<true/>
	<key>com.apple.developer.device-information.user-assigned-device-name</key>
	<true/>
	<key>com.apple.developer.dialing-app</key>
	<true/>
	<key>com.apple.developer.embedded-web-browser-engine</key>
	<true/>
	<key>com.apple.developer.embedded-web-browser-engine.engine-association</key>
	<string>owned</string>
	<key>com.apple.developer.enrollment-sso-capable</key>
	<true/>
	<key>com.apple.developer.exposure-notification</key>
	<true/>
	<key>com.apple.developer.family-controls</key>
	<true/>
	<key>com.apple.developer.family-controls.app-and-website-usage</key>
	<true/>
	<key>com.apple.developer.financekit</key>
	<true/>
	<key>com.apple.developer.foundation-model-adapter</key>
	<true/>
	<key>com.apple.developer.game-center</key>
	<true/>
	<key>com.apple.developer.group-session</key>
	<true/>
	<key>com.apple.developer.health.fall-detection</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array>
		<string>health-records</string>
		<string>workout-routes</string>
	</array>
	<key>com.apple.developer.healthkit.background-delivery</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.icloud-container-development-container-identifiers</key>
	<array>
		<string>iCloud.com.27pm.lumen</string>
	</array>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Development</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.com.27pm.lumen</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.com.27pm.lumen</string>
	</array>
	<key>com.apple.developer.in-app-identity-presentment</key>
	<true/>
	<key>com.apple.developer.journal.allow</key>
	<true/>
	<key>com.apple.developer.kernel.extended-virtual-addressing</key>
	<true/>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<key>com.apple.developer.location.push</key>
	<true/>
	<key>com.apple.developer.low-latency-streaming</key>
	<true/>
	<key>com.apple.developer.mail-client</key>
	<true/>
	<key>com.apple.developer.managed-app-distribution.install-ui</key>
	<true/>
	<key>com.apple.developer.marketplace.app-installation</key>
	<true/>
	<key>com.apple.developer.media-device-discovery-extension</key>
	<true/>
	<key>com.apple.developer.memory.transfer_accept</key>
	<true/>
	<key>com.apple.developer.memory.transfer_send</key>
	<true/>
	<key>com.apple.developer.messaging-app</key>
	<true/>
	<key>com.apple.developer.navigation-app</key>
	<true/>
	<key>com.apple.developer.networking.HotspotConfiguration</key>
	<true/>
	<key>com.apple.developer.networking.HotspotHelper</key>
	<true/>
	<key>com.apple.developer.networking.carrier-constrained.app-optimized</key>
	<true/>
	<key>com.apple.developer.networking.carrier-constrained.appcategory</key>
	<string>general</string>
	<key>com.apple.developer.networking.manage-thread-network-credentials</key>
	<true/>
	<key>com.apple.developer.networking.multicast</key>
	<true/>
	<key>com.apple.developer.networking.multipath</key>
	<true/>
	<key>com.apple.developer.networking.networkextension</key>
	<array>
		<string>app-proxy-provider</string>
		<string>content-filter-provider</string>
		<string>dns-proxy</string>
		<string>dns-settings</string>
		<string>packet-tunnel-provider</string>
	</array>
	<key>com.apple.developer.networking.slicing.appcategory</key>
	<string>general</string>
	<key>com.apple.developer.networking.slicing.trafficcategory</key>
	<string>default</string>
	<key>com.apple.developer.networking.vpn.api</key>
	<array>
		<string>allow-vpn</string>
	</array>
	<key>com.apple.developer.networking.vmnet</key>
	<true/>
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
	<key>com.apple.developer.nfc.hce</key>
	<true/>
	<key>com.apple.developer.nfc.hce.default-contactless-app</key>
	<true/>
	<key>com.apple.developer.nfc.hce.iso7816.select-identifier-prefixes</key>
	<array>
		<string>A000000003</string>
	</array>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array>
		<string>0003</string>
	</array>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>NDEF</string>
		<string>TAG</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000000031010</string>
	</array>
	<key>com.apple.developer.parent-application-identifiers</key>
	<array>
		<string>$(AppIdentifierPrefix)com.27pm.lumen</string>
	</array>
	<key>com.apple.developer.pass-type-identifiers</key>
	<array>
		<string>$(TeamIdentifierPrefix)*</string>
	</array>
	<key>com.apple.developer.persistent-content-capture</key>
	<true/>
	<key>com.apple.developer.protected-content</key>
	<true/>
	<key>com.apple.developer.screen-capture.include-passthrough</key>
	<true/>
	<key>com.apple.developer.secure-element-credential</key>
	<true/>
	<key>com.apple.developer.secure-element-credential.default-contactless-app</key>
	<true/>
	<key>com.apple.developer.sensitivecontentanalysis.client</key>
	<true/>
	<key>com.apple.developer.sensorkit.reader.allow</key>
	<true/>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.developer.storekit.external-link.account</key>
	<true/>
	<key>com.apple.developer.storekit.external-purchase</key>
	<true/>
	<key>com.apple.developer.storekit.external-purchase-link</key>
	<true/>
	<key>com.apple.developer.translation-app</key>
	<true/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(TeamIdentifierPrefix)com.27pm.lumen</string>
	<key>com.apple.developer.user-management</key>
	<true/>
	<key>com.apple.developer.usernotifications.critical-alerts</key>
	<true/>
	<key>com.apple.developer.usernotifications.filtering</key>
	<true/>
	<key>com.apple.developer.video-subscriber-single-sign-on</key>
	<true/>
	<key>com.apple.developer.weatherkit</key>
	<true/>
	<key>com.apple.developer.web-browser</key>
	<true/>
	<key>com.apple.developer.web-browser-engine.host</key>
	<true/>
	<key>com.apple.developer.web-browser-engine.networking</key>
	<true/>
	<key>com.apple.developer.web-browser-engine.rendering</key>
	<true/>
	<key>com.apple.developer.web-browser-engine.restrict.notifyd</key>
	<true/>
	<key>com.apple.developer.web-browser-engine.webcontent</key>
	<true/>
	<key>com.apple.developer.web-browser.public-key-credential</key>
	<true/>
	<key>com.apple.developer.wifi-aware</key>
	<true/>
	<key>com.apple.developer.wifi-infrastructure</key>
	<true/>
	<key>com.apple.developer.wireless-insights.service-predictions</key>
	<true/>
	<key>com.apple.external-accessory.wireless-configuration</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.files.all</key>
	<true/>
	<key>com.apple.security.hypervisor</key>
	<true/>
	<key>com.apple.security.virtualization</key>
	<true/>
	<key>com.apple.vm.device-access</key>
	<true/>
	<key>com.apple.vm.networking</key>
	<true/>
</dict>
</plist>
